body {
    color: rgb(148, 148, 148);
    font-family: 'comfortaa';
    background-repeat: no-repeat;
    background-size: 100vw 100vw;
    background-color: #0a1a1b;
    background-image:
        radial-gradient(at 47% 33%, hsl(194, 18%, 36%) 0, transparent 59%),
        radial-gradient(at 82% 65%, hsl(211, 90%, 16%) 0, transparent 55%);
    display: flex;
}

#divlogin {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(10, 15, 24, 0.76);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7%;
    border-radius: 4%;
    color: rgb(148, 148, 148);
}

a {
    color: #00e1ff;
}

input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    background-color: #5460663a;
}

input:hover {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    background-color: #6c92a362;
    color: rgb(148, 148, 148);
}

button {
    background-color: #0b9fc4;
    border: none;
    padding: 15px;
    width: 48%;
    border-radius: 10px;
    color: rgb(97, 97, 97);
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: rgb(29, 157, 216);
    cursor: pointer;
}

h1 {
    padding: 20px;
    width: 90px;
    border-radius: 15px;
    color: rgb(148, 148, 148);
}